<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.ubing.pub.dao.PubPlanHistoryHotelServiceMapper" >
  <resultMap id="BaseResultMap" type="cn.com.ubing.pub.model.PubPlanHistoryHotelService" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="pub_history_hotel_id" property="pubHistoryHotelId" jdbcType="BIGINT" />
    <result column="service_id" property="serviceId" jdbcType="BIGINT" />
  </resultMap>
  
    <resultMap id="PubPlanHistoryHotelServiceListMap" type="cn.com.ubing.pub.dto.PubPlanHistoryHotelServiceDto" >
  	   <result column="service_id" property="serviceId" jdbcType="BIGINT" />
  	   <result column="service_name" property="serviceName" jdbcType="VARCHAR" />
  </resultMap>
   <sql id="Base_Column_List" >
    id, create_time, update_time, delete_flag, pub_history_hotel_id, service_id
  </sql>
  
  <!-- c端 查询服务 -->
    <select id="listServiceInfoByHistoryId" parameterType="java.lang.Long" resultMap="PubPlanHistoryHotelServiceListMap">
  	 select id as service_id,cname as service_name
  	 from res_dict where id in (
  	 	select service_id from pub_plan_history_hotel_service where delete_flag=0 and pub_history_hotel_id=#{pubHistoryId}
  	 ) 
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pub_plan_history_hotel_service
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update pub_plan_history_hotel_service set delete_flag=1
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="cn.com.ubing.pub.model.PubPlanHistoryHotelService" >
    insert into pub_plan_history_hotel_service (id, create_time, update_time, 
      delete_flag, pub_history_hotel_id, service_id
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=INTEGER}, #{pubHistoryHotelId,jdbcType=BIGINT}, #{serviceId,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.ubing.pub.model.PubPlanHistoryHotelService" >
    update pub_plan_history_hotel_service
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      pub_history_hotel_id = #{pubHistoryHotelId,jdbcType=BIGINT},
      service_id = #{serviceId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  

</mapper>