<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.ubing.pub.dao.PubRequirementMapper" >
  <resultMap id="BaseResultMap" type="cn.com.ubing.pub.model.PubRequirement" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="line_id" property="lineId" jdbcType="BIGINT" />
    <result column="people_count" property="peopleCount" jdbcType="INTEGER" />
    <result column="birthland" property="birthland" jdbcType="BIGINT" />
    <result column="destination" property="destination" jdbcType="BIGINT" />
    <result column="trip_count" property="tripCount" jdbcType="INTEGER" />
    <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
    <result column="air_line" property="airLine" jdbcType="VARCHAR" />
    <result column="hotel_address" property="hotelAddress" jdbcType="VARCHAR" />
    <result column="hotel_room" property="hotelRoom" jdbcType="VARCHAR" />
    <result column="ticket_type" property="ticketType" jdbcType="INTEGER" />
    <result column="departure_time" property="departureTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="return_time" property="returnTime" jdbcType="TIMESTAMP" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="manual_status" property="manualStatus" jdbcType="INTEGER" />
    <result column="hotel_level" property="hotelLevel" jdbcType="BIGINT" />
    <result column="hotel_price" property="hotelPrice" jdbcType="BIGINT" />
    <result column="hotel_rooms" property="hotelRooms" jdbcType="INTEGER" />
    <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="HomePageInfo" type="cn.com.ubing.pub.dto.HomePageInfoDto" >
  	<result column="flight_ticket_range" property="flightTicketRange" jdbcType="INTEGER" />
  	<result column="hotel_range" property="hotelRange" jdbcType="INTEGER" />
  	<result column="free_travel_range" property="freeTravelRange" jdbcType="INTEGER" />
  	<result column="group_travel_range" property="groupTravelRange" jdbcType="INTEGER" />
  	<result column="flight_ticket_status" property="flightTicketStatus" jdbcType="INTEGER" />
  	<result column="hotel_status" property="hotelStatus" jdbcType="INTEGER" />
  	<result column="free_travel_status" property="freeTravelStatus" jdbcType="INTEGER" />
  	<result column="group_travel_status" property="groupTravelStatus" jdbcType="INTEGER" />
  	<result column="vane_name" property="vaneName" jdbcType="VARCHAR" />
  	<result column="need_deliver_count" property="needDeliverCount" jdbcType="INTEGER" />
  	<result column="need_appraisal_count" property="needAppraisalCount" jdbcType="INTEGER" />
  	<result column="need_regiment" property="needRegiment" jdbcType="INTEGER" />
  	<result column="message_count" property="messageCount" jdbcType="INTEGER" />
  	<result column="ask_count" property="askCount" jdbcType="INTEGER" /> 
  </resultMap>
  <resultMap id="RequirementResponse" type="cn.com.ubing.pub.dto.RequirementDto" >
  	<result column="id" property="id" jdbcType="BIGINT" />
  	<result column="title" property="title" jdbcType="VARCHAR" />
  	<result column="ticket_status" property="ticketStatus" jdbcType="INTEGER" />
  	<result column="status" property="status" jdbcType="INTEGER" />
  	<result column="deadline" property="deadline" jdbcType="INTEGER" />
  	<result column="type" property="type" jdbcType="INTEGER" />
  	<result column="plan_count" property="planCount" jdbcType="INTEGER" />
  	<result column="createTime" property="createTime" jdbcType="INTEGER" />
  	<result column="appraisal_status" property="appraisalStatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="RequirementDetail" type="cn.com.ubing.pub.dto.RequirementDetailResponseDto" >
  	<result column="title" property="title" jdbcType="VARCHAR" />
  	<result column="status" property="status" jdbcType="VARCHAR" />
  	<result column="traveller" property="traveller" jdbcType="VARCHAR" />
  	<result column="destination" property="destination" jdbcType="VARCHAR" />
  	<result column="destination_name" property="destinationName" jdbcType="VARCHAR" />
  	<result column="departure_time" property="departureTime" jdbcType="VARCHAR" />
  	<result column="trip_count" property="tripCount" jdbcType="VARCHAR" />
  	<result column="grab_count" property="grabCount" jdbcType="VARCHAR" />
  	<result column="send_need_count" property="sendNeedCount" jdbcType="VARCHAR" />
  	<result column="plan_count" property="planCount" jdbcType="VARCHAR" />
  	<result column="my_plan_title" property="myPlanTitle" jdbcType="VARCHAR" />
  	<result column="my_plan_price" property="myPlanPrice" jdbcType="VARCHAR" />
  	<result column="my_plan_type" property="myPlanType" jdbcType="VARCHAR" />
  	<result column="my_plan_remark" property="myPlanRemark" jdbcType="VARCHAR" />
  	<result column="b_appraisal_create_time" property="bAppraisalCreateTime" jdbcType="VARCHAR" />
  	<result column="c_appraisal_create_time" property="cAppraisalCreateTime" jdbcType="VARCHAR" />
  	<result column="done_service_labe" property="doneServiceLabe" jdbcType="VARCHAR" />
  	<result column="done_description_label" property="doneDescriptionLabel" jdbcType="VARCHAR" />
  	<result column="reject_label" property="rejectLabel" jdbcType="VARCHAR" />
  	<result column="b_appraisal_content" property="bAppraisalContent" jdbcType="VARCHAR" />
  	<result column="c_appraisal_content" property="cAppraisalContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, update_time, delete_flag, user_id, type, title, line_id, people_count, 
    birthland, destination, trip_count, hotel_name, air_line, hotel_address, hotel_room, 
    ticket_type, departure_time, end_time, return_time, detail, status, manual_status, 
    hotel_level, hotel_price, hotel_rooms, serial_number
  </sql>
  <!-- 查询主页信息 -->
  <select id="getHomePageInfoDto" statementType="CALLABLE" resultMap="HomePageInfo" parameterType="java.lang.Long" >
    {call grab_main(#{userId,jdbcType=BIGINT,mode=IN})}  
  </select>
  <!-- 查询订单列表 -->
  <select id="queryRequirementList" resultMap="RequirementResponse" parameterType="cn.com.ubing.pub.dto.RequirementRequestDto" >
  	SELECT t1.`id`,t1.`title`,t2.`status` AS ticket_status,t1.`status`,
	(SELECT DATE_FORMAT(DATE_ADD(t2.`create_time`, INTERVAL (SELECT prop_value FROM res_system_properties WHERE prop_key='SYSTEM_PRO_COMPOSITE_RULE_QIANGDANYOUXIAOSHIJIAN' and delete_flag=0 limit 1) MINUTE),'%Y-%m-%d %T')) AS deadline,
	t1.`type`,(SELECT COUNT(*) FROM pub_plan t3 WHERE t3.requirement_id =t1.`id` AND t3.`delete_flag`=0) AS planCount,DATE_FORMAT(t1.`create_time`,'%Y-%m-%d %T') AS create_time,
	(SELECT CASE WHEN COUNT(*)>0 THEN 1 ELSE 0 END FROM `pub_appraisal` t4,pub_plan t5 
	WHERE t5.`id` = t4.`plan_id` AND t4.`from_id` = t2.`user_id` AND t5.`requirement_id`=t1.`id` AND t4.delete_flag=0 AND t5.delete_flag=0) AS appraisalStatus
	FROM pub_requirement t1,pub_requirement_user t2 WHERE t1.`id`=t2.`requirement_id` AND t2.`delete_flag`=0
	AND t2.`user_id`=#{uid,jdbcType=BIGINT}
	<if test="requirementStatus!=null">
	</if>
	<if test="planStatus!=null">
	</if>
  </select>
  <!-- 查询订单详细信息 -->
  <select id="getRequirementDetail" resultMap="RequirementDetail" parameterType="cn.com.ubing.pub.dto.RequirementDetailRequestDto" >
  	SELECT res.*,
	t3.`title` AS my_plan_title,
	t3.`price` AS my_plan_price,
	t3.`type` AS my_plan_type,
	t3.`remark` AS my_plan_remark,
	t3.`status` AS my_plan_status,
	t4.`content` AS b_appraisal_content,
	DATE_FORMAT(t3.`create_time`,'%Y-%m-%d %T') AS b_appraisal_time,
	DATE_FORMAT(t5.`create_time`,'%Y-%m-%d %T') AS c_appraisal_time,
	t5.`content` AS c_appraisal_content,
	(SELECT d1.level FROM `res_evaluation_label_done` d1 WHERE d1.id = t5.`done_service_label_id`) AS done_service_labe,
	(SELECT d2.level FROM `res_evaluation_label_done` d2 WHERE d2.id = t5.`done_description_label_id`) AS done_description__labe,
	(SELECT r.label_name FROM `res_evaluation_label_reject` r WHERE r.id = t5.`reject_label_id`) AS reject_label
	FROM
		(SELECT
		t1.`id` AS requirementid,
		t2.`user_id` AS businessid,
		t1.`title`,
		t1.`status`,
		(SELECT u.nickname FROM rms_user u WHERE u.`id`= t1.user_id) AS traveller,
		t1.destination,
		(SELECT cname FROM res_dict d WHERE d.id = t1.`destination` AND d.delete_flag=0) AS destination_name,
		DATE_FORMAT(t1.`departure_time`,'%Y-%m-%d %T') AS departure_time,
		t1.`trip_count`,
		t1.`detail` AS remark,
		(SELECT COUNT(*) FROM `pub_requirement_user` pru WHERE pru.`status`=2 AND pru.`delete_flag`=0 AND pru.`requirement_id`= t1.id)AS grab_count,
		(SELECT prop_value FROM res_system_properties WHERE prop_key='SYSTEM_PRO_COMPOSITE_RULE_ZUIDUOTUISONGSHULIANG' and `delete_flag`=0 LIMIT 1) AS send_need_count,
		(SELECT COUNT(*) FROM pub_plan pp WHERE pp.`delete_flag`=0 AND pp.`requirement_id`= t1.`id`) AS plan_count
		FROM `pub_requirement` t1,`pub_requirement_user` t2
		WHERE t1.`id`=t2.`requirement_id` AND t2.`user_id`= #{uid} AND t1.`id`=#{requirementId}) res
	LEFT JOIN pub_plan t3 ON t3.`requirement_id` = res.requirementid AND t3.`delete_flag`=0 AND t3.`user_id` = res.businessid
	LEFT JOIN `pub_appraisal` t4 ON t4.`delete_flag`=0 AND t4.`plan_id`=t3.`id` AND t4.`from_id`= res.businessid
	LEFT JOIN `pub_appraisal` t5 ON t5.`delete_flag`=0 AND t5.`plan_id`=t3.`id` AND t5.`to_id`= res.businessid
  		
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pub_requirement
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update pub_requirement set delete_flag=1
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.ubing.pub.model.PubRequirement" >
    insert into pub_requirement (id, create_time, update_time, 
      delete_flag, user_id, type, 
      title, line_id, people_count, 
      birthland, destination, trip_count, 
      hotel_name, air_line, hotel_address, 
      hotel_room, ticket_type, departure_time, 
      end_time, return_time, detail, 
      status, manual_status, hotel_level, 
      hotel_price, hotel_rooms, serial_number
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{lineId,jdbcType=BIGINT}, #{peopleCount,jdbcType=INTEGER}, 
      #{birthland,jdbcType=BIGINT}, #{destination,jdbcType=BIGINT}, #{tripCount,jdbcType=INTEGER}, 
      #{hotelName,jdbcType=VARCHAR}, #{airLine,jdbcType=VARCHAR}, #{hotelAddress,jdbcType=VARCHAR}, 
      #{hotelRoom,jdbcType=VARCHAR}, #{ticketType,jdbcType=INTEGER}, #{departureTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{returnTime,jdbcType=TIMESTAMP}, #{detail,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{manualStatus,jdbcType=INTEGER}, #{hotelLevel,jdbcType=BIGINT}, 
      #{hotelPrice,jdbcType=BIGINT}, #{hotelRooms,jdbcType=INTEGER}, #{serialNumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.ubing.pub.model.PubRequirement" >
    insert into pub_requirement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="lineId != null" >
        line_id,
      </if>
      <if test="peopleCount != null" >
        people_count,
      </if>
      <if test="birthland != null" >
        birthland,
      </if>
      <if test="destination != null" >
        destination,
      </if>
      <if test="tripCount != null" >
        trip_count,
      </if>
      <if test="hotelName != null" >
        hotel_name,
      </if>
      <if test="airLine != null" >
        air_line,
      </if>
      <if test="hotelAddress != null" >
        hotel_address,
      </if>
      <if test="hotelRoom != null" >
        hotel_room,
      </if>
      <if test="ticketType != null" >
        ticket_type,
      </if>
      <if test="departureTime != null" >
        departure_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="returnTime != null" >
        return_time,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="manualStatus != null" >
        manual_status,
      </if>
      <if test="hotelLevel != null" >
        hotel_level,
      </if>
      <if test="hotelPrice != null" >
        hotel_price,
      </if>
      <if test="hotelRooms != null" >
        hotel_rooms,
      </if>
      <if test="serialNumber != null" >
        serial_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="lineId != null" >
        #{lineId,jdbcType=BIGINT},
      </if>
      <if test="peopleCount != null" >
        #{peopleCount,jdbcType=INTEGER},
      </if>
      <if test="birthland != null" >
        #{birthland,jdbcType=BIGINT},
      </if>
      <if test="destination != null" >
        #{destination,jdbcType=BIGINT},
      </if>
      <if test="tripCount != null" >
        #{tripCount,jdbcType=INTEGER},
      </if>
      <if test="hotelName != null" >
        #{hotelName,jdbcType=VARCHAR},
      </if>
      <if test="airLine != null" >
        #{airLine,jdbcType=VARCHAR},
      </if>
      <if test="hotelAddress != null" >
        #{hotelAddress,jdbcType=VARCHAR},
      </if>
      <if test="hotelRoom != null" >
        #{hotelRoom,jdbcType=VARCHAR},
      </if>
      <if test="ticketType != null" >
        #{ticketType,jdbcType=INTEGER},
      </if>
      <if test="departureTime != null" >
        #{departureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnTime != null" >
        #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="manualStatus != null" >
        #{manualStatus,jdbcType=INTEGER},
      </if>
      <if test="hotelLevel != null" >
        #{hotelLevel,jdbcType=BIGINT},
      </if>
      <if test="hotelPrice != null" >
        #{hotelPrice,jdbcType=BIGINT},
      </if>
      <if test="hotelRooms != null" >
        #{hotelRooms,jdbcType=INTEGER},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.ubing.pub.model.PubRequirement" >
    update pub_requirement
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="lineId != null" >
        line_id = #{lineId,jdbcType=BIGINT},
      </if>
      <if test="peopleCount != null" >
        people_count = #{peopleCount,jdbcType=INTEGER},
      </if>
      <if test="birthland != null" >
        birthland = #{birthland,jdbcType=BIGINT},
      </if>
      <if test="destination != null" >
        destination = #{destination,jdbcType=BIGINT},
      </if>
      <if test="tripCount != null" >
        trip_count = #{tripCount,jdbcType=INTEGER},
      </if>
      <if test="hotelName != null" >
        hotel_name = #{hotelName,jdbcType=VARCHAR},
      </if>
      <if test="airLine != null" >
        air_line = #{airLine,jdbcType=VARCHAR},
      </if>
      <if test="hotelAddress != null" >
        hotel_address = #{hotelAddress,jdbcType=VARCHAR},
      </if>
      <if test="hotelRoom != null" >
        hotel_room = #{hotelRoom,jdbcType=VARCHAR},
      </if>
      <if test="ticketType != null" >
        ticket_type = #{ticketType,jdbcType=INTEGER},
      </if>
      <if test="departureTime != null" >
        departure_time = #{departureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnTime != null" >
        return_time = #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="manualStatus != null" >
        manual_status = #{manualStatus,jdbcType=INTEGER},
      </if>
      <if test="hotelLevel != null" >
        hotel_level = #{hotelLevel,jdbcType=BIGINT},
      </if>
      <if test="hotelPrice != null" >
        hotel_price = #{hotelPrice,jdbcType=BIGINT},
      </if>
      <if test="hotelRooms != null" >
        hotel_rooms = #{hotelRooms,jdbcType=INTEGER},
      </if>
      <if test="serialNumber != null" >
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.ubing.pub.model.PubRequirement" >
    update pub_requirement
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      line_id = #{lineId,jdbcType=BIGINT},
      people_count = #{peopleCount,jdbcType=INTEGER},
      birthland = #{birthland,jdbcType=BIGINT},
      destination = #{destination,jdbcType=BIGINT},
      trip_count = #{tripCount,jdbcType=INTEGER},
      hotel_name = #{hotelName,jdbcType=VARCHAR},
      air_line = #{airLine,jdbcType=VARCHAR},
      hotel_address = #{hotelAddress,jdbcType=VARCHAR},
      hotel_room = #{hotelRoom,jdbcType=VARCHAR},
      ticket_type = #{ticketType,jdbcType=INTEGER},
      departure_time = #{departureTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      return_time = #{returnTime,jdbcType=TIMESTAMP},
      detail = #{detail,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      manual_status = #{manualStatus,jdbcType=INTEGER},
      hotel_level = #{hotelLevel,jdbcType=BIGINT},
      hotel_price = #{hotelPrice,jdbcType=BIGINT},
      hotel_rooms = #{hotelRooms,jdbcType=INTEGER},
      serial_number = #{serialNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="countRequirement" resultType="java.lang.Integer" parameterType="cn.com.ubing.rms.dto.RmsUserRequestDto">
  	SELECT COUNT(*) FROM pub_requirement p WHERE p.`delete_flag`=0 
  	AND p.`user_id`=#{userId,jdbcType=BIGINT}
  </select>
  
  
  <!-- 查询需求来源 -->
  <select id="getRequirementSouce" resultType="java.lang.Integer">
  	<choose>
  		<when test="param1==1">SELECT from_sys FROM pub_requirement_ticket WHERE id=#{param2}</when>
  		<when test="param1==2">SELECT from_sys FROM pub_requirement_hotel WHERE id=#{param2}</when>
  		<when test="param1==3">SELECT from_sys FROM pub_requirement_personal_visit WHERE id=#{param2}</when>
  		<when test="param1==4">SELECT from_sys FROM pub_requirement_group_visit WHERE id=#{param2}</when>
  		<otherwise>select 0</otherwise>
  	</choose>
  </select>
  
</mapper>